@cor: blue;
@cor2: green;
@cor3: rgb(245, 245, 226);
@width: 0.75;   
@tamanho: 20px;

.drop-shadow {
    text-shadow: 2px 1px 1px #ccc;
    text-decoration: underline;
}

h1 {
    .cores('h1');
}

p {
    .cores('p');
}

.cores(@tag) {
    color: @cor*0.8;

    & when (@tag = 'p') {
        font-size: @tamanho*1.23;
    }
    & when (@tag = 'h1') {
        text-shadow: 2px 1px 1px #7a7b7c;
         font-size: @tamanho + 27px;
    }
}